[galaxy]
server_list = community,rh-certified

[galaxy_server.community]
url=https://aap-aio.lab.roldo.io/api/galaxy/content/community/
token=14833c69f90379d84c6031f057dfcdd3649ff0bb

[galaxy_server.rh-certified]
url=https://aap-aio.lab.roldo.io/api/galaxy/content/rh-certified/
token=14833c69f90379d84c6031f057dfcdd3649ff0bb
